.title-field{
    width: 50%;
}

#edit-general-section,
#edit-checkout-section,
#edit-variants-section,
#edit-media-section
{
    border: 2px solid black;
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 10px 0;
}
