
<div>

<h2> My orders </h2>

    <% unless @orders.to_a.empty? %>
        <% @orders.each do |order| %>
            <div>
                <h3>Order <%= link_to order.id, order_path(order) %> — <%= order.created_at.strftime("%b %d, %Y") %>, status: <%= order.status %> </h3>
            </div>
        <% end %>
    <% else %>
        <p> You have no orders! </p>
        <%= link_to "View products", products_path %>
    <% end %>

</div>