<!-- app/views/carts/show.html.erb -->

<div id="cart-container" data-controller="price">

    <%= render "carts/cart" %>

    <div id="checkout-info">
        <div id="payment-method"> 
                <p> Payment method here </p>
        </div>

        <div>
            <input id="email" type="email" value=<%= current_user.email %>>  
        </div>

    </div>
    <%= button_to "Purchase", orders_path, method: :post %>

</div>
